CONSIGNO_BASE_URL=https://cloud.consigno.com
CONSIGNO_EMAIL=l-momoh89@hotmail.com
CONSIGNO_PASSWORD=Ilyes@260990
CONSIGNO_INVALID_PASSWORD=Password123
CONSIGNO_RUN_NEGATIVE_LOGIN=false
CONSIGNO_REASSIGN_EMAIL=l-momoh89@hotmail.com
CONSIGNO_DOCUMENT_PATH=Document/Test.pdf
